@model IEnumerable<WebApplication2.Models.Idea>
@using WebApplication2.Models
@{
    ViewBag.Title = "Analysis ideas";
    ApplicationDbContext db = new ApplicationDbContext();
    List<Submission> Submission = db.Submissions.ToList();
    ViewBag.Submission = new SelectList(Submission, "SubName", "SubName");

}
<h2 style="text-align:center">Idea analysis in submission @ViewBag.CurrSubmission.SubName (@ViewBag.CurrSubmission.Open_date.ToLongDateString()-@ViewBag.CurrSubmission.Closure_date.ToLongDateString())</h2>
<hr />
<!--phần để chọn submission-->
@using (Html.BeginForm("Analysis", "Ideas", FormMethod.Post))
{
    <div class="form-inline">
        Select submission :
        @Html.DropDownList("Submission", null, htmlAttributes: new { @class = "form-control" })
        <input type="submit" value="Sort" class="form-control" />

    </div>
}
<!--download file excel dựa trên submission đã chọn-->
@Html.ActionLink("Download CSV", "DownloadCSV", "Ideas", new { Submission = ViewBag.CurrSubmission.SubName }, new {@class="btn btn-success"})
<hr />

<div id="chart_container ">
    <center><strong>Number of idea made by each department</strong></center>
    <canvas id="bar_chart">
    </canvas>
</div>
<div class="row" style="margin-top:10px;margin-bottom:10px;">
    <div class="col-md-6">
        <!--biểu đồ tổng số idea theo department-->
        <div class="card-cus">

            <center><strong> <i class="fa fa-lightbulb-o" aria-hidden="true"></i> Total idea submitted :@ViewBag.Total</strong></center>
        </div>
    </div>
    <div class="col-md-6">
        <!--tổng số idea trong submission và tổng số người đăng idea-->
        <div class="card-cus">

            <center><strong><i class="fa fa-user" aria-hidden="true"></i> Total number of contributor: @ViewBag.Authors</strong></center>
        </div>


    </div>


</div>
<div class="row">
    <div class="col-md-4 card card-cus">

        <!--idea nhiều like nhất-->
        <center><strong style="font-size:20px;">Most liked idea </strong></center>

        <hr />
        <div class="row">
            <div class="col-md-6">
                <center><i style="font-size:70px; color:blue" class="fa fa-thumbs-up " aria-hidden="true"></i></center>
            </div>
            <div class="col-md-6">
                Idea Title:
                @ViewBag.LikeIdea.IdeaTitle
                Like Count:
                @ViewBag.LikeIdeaCount
            </div>
        </div>

        <p>  @Html.ActionLink("Details", "Details", new { id = ViewBag.LikeIdea.IdeaId }, new { @class = "btn btn-primary", @style = "float:right" })</p>

    </div>
    <div class="col-md-3 card card-cus">

        <!--idea nhiều like nhất-->
        <center><strong style="font-size:20px;">Most comment idea </strong></center>

        <hr />
        <div class="row">
            <div class="col-md-6">
                <center><i style="font-size:70px; color:green" class="fa fa-comment " aria-hidden="true"></i></center>
            </div>
            <div class="col-md-6">
                Idea Title: @ViewBag.CommentIdea.IdeaTitle
                Comment Count:  @ViewBag.CommentIdeaCount
            </div>
        </div>

        <p>  @Html.ActionLink("Details", "Details", new { id = ViewBag.CommentIdea.IdeaId }, new { @class = "btn btn-primary", @style = "float:right" })</p>

    </div>
    <div class="col-md-4 card card-cus">

        <!--idea nhiều like nhất-->
        <center><strong style="font-size:20px;">Most viewed idea </strong></center>

        <hr />
        <div class="row">
            <div class="col-md-6">
                <center><i style="font-size:70px; color:red" class="fa fa-eye " aria-hidden="true"></i></center>
            </div>
            <div class="col-md-6">
                Idea Title:  @ViewBag.ViewIdea.IdeaTitle
                View Count:  @ViewBag.ViewIdeaCount
            </div>
        </div>

        <p>  @Html.ActionLink("Details", "Details", new { id = ViewBag.CommentIdea.IdeaId }, new { @class = "btn btn-primary", @style = "float:right" })</p>

    </div>

</div>


@section scripts{
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/Chart.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/JavaScript.js"></script>
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--https://fontawesome.com/v4/icons/-->
    <script>

        var RepArray =@Html.Raw(Json.Encode(ViewBag.Repatrition));
        var ColorArray = [];

        $.each(RepArray, function () {
            var r = randomInt(1, 255);
            var g = randomInt(1, 255);
            var b = randomInt(1, 255);

            ColorArray.push(`rgba(${r},${g}, ${b}, 0.5)`);
        });

        console.log(ColorArray);
        var DepartmentArray =@Html.Raw(Json.Encode(ViewBag.deparmentNames));
        var container = $('#chart_container');
        var ctx = $("#bar_chart");
        var barChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: DepartmentArray,
                datasets: [{
                    label: DepartmentArray,
                    data: RepArray,
                    backgroundColor: ColorArray,
                }]
            },

            options: {

                maintainAspectRatio: false,

            },

        });
        function randomInt(min, max) { // min and max included
            return Math.floor(Math.random() * (max - min + 1) + min)
        }
    </script>
}