@model IPagedList<WebApplication2.Models.Category>

@{
    ViewBag.Title = "Index";
}
@using PagedList.Mvc;
@using PagedList;
<h2>List categories</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Categories", new { @class = "btn btn-primary" })
</p>
<br />
@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>@TempData["AlertMessage"]</strong>
    </div>
}
<br />
@using (Html.BeginForm("Index", "Categories", FormMethod.Post))
{
<div class="form-inline">
    <input type="text" name="search" placeholder="Enter Category name" class="form-control" />
    <input type="submit" name="submit" value="Search" class="btn btn-success " />
</div>
    
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().CateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().CateDescription)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CateDescription)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CateId }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Details", new { id = item.CateId }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CateId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, i => Url.Action("Index", "Categories", new { i, search = Request.QueryString["search"] }))