@model IEnumerable<WebApplication2.Models.File>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FilePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Create_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Last_modified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FilePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Create_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Last_modified)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FileId }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Details", "Details", new { id=item.FileId }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FileId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
